<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='./style.css' rel='stylesheet' type='text/css'>
  <link href='./style_2.css' rel='stylesheet' type='text/css'>
  <link href='./style_modal.css' rel='stylesheet' type='text/css'>
  <script src="script.js"></script>
</head>
<body>

  <div class="body" >

    <div id="create-room-modal" class="modal">
      <div class="modal-view">
        <img class="modal-background-image" src="./img/paper_modal.png">
        <div class="flex-container flex-column modal-inner">
          <div>
            <input class="icon-btn close-btn" type="image" src="./img/icon_close.png" onclick="closeModal('create-room-modal');">
          </div>
          <div class="modal-content">
            <input id="new-room-name" type="text" class="input-text" placeholder="название комнаты">
            <input type="button" value="создать" class="modal-btn btn"/>
          </div>
        </div>
      </div>
    </div>

    <div id="top-menu">
      <img src="./img/logo.png">
      <div id="btn-panel">
        <input class="icon-btn" type="image" src="./img/out.png">
        <input class="icon-btn" type="image" src="./img/sound.png">
      </div>
    </div>
    <div class="field-wrapper">
     <div class="paper-background"></div>
     <div id="field" class="flex-container flex-column field">
      <div class="title" style="width:20rem;"> 
        <label>ВЫБОР СОПЕРНИКА</label>
      </div>
      <div class="top-place-player" style="position: relative;">
        <div id="player-name" class="player-name" ><label>имя игрока</label></div>
        <input id="new_challenge_btn" type="button" class="btn" onclick="openModal('create-room-modal');"  value="бросить вызов">
      </div>
      <div> <label style="padding-right: 2%;">2 игрока онлайн</label>
        <label> 0 битв идёт</label>
      </div>
      <div id="room-selection-wrapper" class="working-place style-2">
        <table>
          <tbody>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="button" class="btn" name="take_challenge" value="принять вызов"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</body>
</html>
