<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='./style.css' rel='stylesheet' type='text/css'>
  <link href='./style_modal.css' rel='stylesheet' type='text/css'>
  <script src="script.js"></script>
</head>
<body>

  <div class="body">

    <div id="create-room-modal" class="modal">
      <div class="modal-view">
        <img class="modal-background-image" src="./img/paper_modal.png">
        <div class="flex-container flex-column modal-inner">
          <div>
            <input class="icon-btn close-btn" type="image" src="./img/icon_close.png" onclick="closeModal('create-room-modal');">
          </div>
          <div class="modal-content">
            <input id="new-room-name" type="text" class="input-text" placeholder="название комнаты">
            <input type="image" src="./img/room_create.png" class="modal-btn"/>
          </div>
        </div>
      </div>
    </div>

    <div id="top-menu">
      <img src="./img/logo.png">
      <div id="btn-panel">
        <input class="icon-btn" type="image" src="./img/out.png">
        <input class="icon-btn" type="image" src="./img/sound.png">
      </div>
    </div>
    <div id="field" class="flex-container flex-column">
      <div><img class="h1" src="./img/label_select_rival.png"></div>
      <div>
        <img src="./img/player_name.png" style="float: left;">
        <label style="padding-right: 2%">2 игрока онлайн</label>
        <label>0 битв идёт</label>
        <input type="image" src="./img/challenge.png" style="float: right;" onclick="openModal('create-room-modal');">
      </div>
      <div id="room-selection-wrapper" class="working-place">
        <table>
          <tbody>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
            <tr>
              <td class="room-selection-name">комната 1</td>
              <td class="room-selection-button"><input type="image" name="take_challenge" src="./img/take_challenge.png"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>
</html>
