<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='./style.css' rel='stylesheet' type='text/css'>
  <link href='./style_2.css' rel='stylesheet' type='text/css'>
  <script src="script.js"></script>
  <script>
      window.onresize = function( event ) {
      tableCreate('place-battlefield');
      shipsCreate('place-ships');
    };
  </script>
</head>
<body>

  <div class="body">
    <div id="top-menu">
      <img src="./img/logo.png">
      <div id="btn-panel">
        <input class="icon-btn" type="image" name="sound_img" src="./img/out.png">
        <input class="icon-btn" type="image" name="sound_img" src="./img/sound.png">
      </div>
    </div>
    <div id="field" class="flex-container flex-column flex-column">
      <div>
        <img class="h1" src="./img/label_preparation.png">
      </div>
      <div id="field-preparation" class="flex-container">
        <div id="place-player" class="flex-container flex-column">
          <div class="inner-elem top-place-player"> 
            <div id="player-name" class="flex-container player-name"><label>имя игрока</label></div>
            <div class="icon-player-ready">
              <img src="./img/not-ready.png">
            </div>
            <input id="btn-ready" type="image" src="./img/ready_btn.png">
          </div>
          <div class="inner-elem working-place flex-container">
            <div id="place-battlefield">
              <script>
                tableCreate('place-battlefield');
              </script>
            </div>
            <div class="flex-container control-panel flex-column">
              <div id="place-ships">
                <script>shipsCreate('place-ships');</script>
              </div>
              <div class="hint">
                <div style="width: 10%;">
                  <img id="icon-dbl-click" class="icon" src="./img/icon_dbl_click.png">
                </div>
                <div style="width: 90%;">
                  <label>Поворот корабля - двойной клик</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="place-opponent" class="flex-container flex-column">
         <div class="inner-elem top-place-player reverse flex-container"> 
          <div id="opponent-name" class="flex-container player-name"><label>нет соперника</label></div>
          <div class="icon-player-ready">
            <img src="./img/not-ready.png">
          </div>
        </div>
        <div id="opponent-status" class="inner-elem working-place flex-container">
          <div class="hint" style="width: 100%; height: auto;">Поиск соперника</div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
