<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='./style.css' rel='stylesheet' type='text/css'>
  <link href='./style_2.css' rel='stylesheet' type='text/css'>
  <link href='./style_3.css' rel='stylesheet' type='text/css'>
  <script src="./script.js"></script>

</head>
<body>

  <div class="body">
    <div id="top-menu">
      <img src="./img/logo.png">
      <div id="btn-panel">
        <input type="image" name="sound_img" src="./img/out.png">
        <input type="image" name="sound_img" src="./img/sound.png">
      </div>
    </div>
    <div id="field" class="flex-container flex-column">
      <div>
        <img class="h1" src="./img/label_battle.png">
      </div>
      <div id="battlefield" class="flex-container">
        <div id="player-field" class="flex-container flex-column player-zone">
          <div class="inner-elem top-place-player"> 
            <div id="player-name" class="flex-container player-name"><label>игрок</label></div>
            <div class="icon-player-ready">
              <img src="./img/my_move.png">
            </div>
          </div>
          <div class="inner-elem working-place flex-container">
            <div id="player-battlefield" class="battlefield">
              <script type="text/javascript">
                tableCreate('player-battlefield');
              </script>
            </div>
          </div>
        </div>
        <div style="width: 10%;" class="flex-container flex-column"> </div>
        <div id="opponent-field" class="flex-container flex-column player-zone">
          <div class="inner-elem top-place-player flex-container reverse"> 
            <div id="player-name" class="flex-container player-name"><label>соперник</label></div>
            <div class="icon-player-ready"  style="opacity: 0.3;">
              <img src="./img/my_move.png">
            </div>
          </div>
          <div class="inner-elem working-place flex-container reverse">
            <div id="opponent-battlefield" class="battlefield">
              <script type="text/javascript">
                tableCreate('opponent-battlefield');
              </script>
            </div>
          </div>
        </div>
<!--             <div id="place-opponent" class="flex-container flex-column">
             <div class="inner-elem top-place-player flex-container" style="flex-direction: row-reverse;"> 
              <div id="opponent-name" class="flex-container player-name"><label>нет соперника</label></div>
              <div class="icon-player-ready">
                <img src="./img/not-ready.png">
              </div>
            </div>
            <div id="opponent-status" class="inner-elem working-place flex-container">
              <div class="hint" style="width: 100%; height: auto;">Поиск соперника</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </body>
  </html>
