<div id="result-modal" class="modal">
    <div class="modal-view" style="width: 35rem; height:30rem;">
        <img class="modal-background-image" src="~/img/paper_modal.png">
        <div class="flex-container flex-column modal-inner" style="width: 90%; height: 80%">
            <div class="centered-flex" style="margin-bottom: 1rem;">
                <div id="gamestatus" class="title" style="width:20rem;">
                    <label>ПОРАЖЕНИЕ</label>
                </div>
            </div>

                <div>
                    <img src="~/img/defeat_illustration.png" style="width: 20rem; height: 11rem;">
                </div>

                <div class="top-place-player inner-elem  centered-flex">
                    <div id="player-name" style="display: flex; justify-content: flex-end; margin-right: 1rem;">
                        <div class="player-name">
                            <label>@ViewBag.player1name</label>
                        </div>
                        <img class="icon-player-ready" src="~/img/not-ready.png">
                    </div>

                    <div id="opponent-name" style="display: flex; margin-left: 1rem;">
                        <img class="icon-player-ready" src="~/img/not-ready.png">
                        <div class="player-name">
                            <label>@ViewBag.player2name</label>
                        </div>
                    </div>
                </div>
                <div class="centered-flex">
                    <div class="timer-group">
                        <div class="timer-animation">
                            <div class="hand"><span></span></div>
                            <div class="hand"><span></span></div>
                        </div>
                        <div id="timer-decision" class="timer-count">
                            <label>@ViewBag.waitreplay</label>
                            <input type="hidden" id="timerMod" value="run" /><br />
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <input id="replaybtn" type="button" class="btn" style=" width: 8rem; background-image: url(../img/button_green.png);" value="еще раз" onclick="replay(this)">
                    <form method="post" action="~/GameResults/ExitGame">
                        <input type="button" id="exitbtn" class="btn" value="отмена" style="width: 8rem; background-image: url('../img/button_red.png');">
                        <input type="hidden" id="playerIdSend" name="player_id" /><br />
                    </form>
                </div>
            </div>
        </div>
</div>
<script>
    let ready = false;
    document.getElementById('playerIdSend').value = player_id;

    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        var inputs = document.querySelectorAll("#" + modalId + " input[type='text']");
        inputs.forEach(function (el) {
            el.value = "";
        });
        modal.style.display = "flex";
    }

    function openResultModal(modalId) {
        openModal(modalId);
        timerMove("timer-decision", "result-modal");
        //    timerChallenge("timer-decision", 15, document.getElementById("btn-again"), document.querySelector("#player-name > img"));
    }

    function replay(b) {
        $.post("/GameResults/ReplayGame", { player_id: player_id })
            .done(function (data) {           
                disableButton(b);
                setBtnStatus('player-name', 'ready');              
                ready = true;
            });
    }

    function disableButton(el) {
        el.disabled = true;
        el.style.opacity = '0.5';
    }


    function setBtnStatus(id_btn, status) {
        let imgReady = document.querySelector("#" + id_btn + " > img");
        switch (status) {
            case "ready":
                imgReady.setAttribute("src", "../img/ready.png");
                break;           
            case "exit":
                imgReady.setAttribute("src", "../img/reject.png");
                break;
            default:
                imgReady.setAttribute("src", "../img/not-ready.png");
                break;

        }






    }

</script>