<html>
<head>

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/ShipsAndFieldStyles.css" rel="stylesheet" />
    <script src="~/js/getcookies.js"></script>
    <style>
        div.addRoom {
            margin: 9% 0 0 9%;
            width: 180pt;
            height: 114pt;
        }

            div.addRoom input {
                height: 25pt;
            }
    </style>

</head>
<body>
    <div>@ViewBag.playername</div>
    <div>
        <div style="margin:10% 10% 10% 10%;">
            <h1>Комнаты</h1>
            <table id="roomslist" class="roomslist"></table>
            <div id="vivod"></div>
        </div>
        <div class="addRoom" style=" background-color:antiquewhite">
            <form method="post" action="~/Rooms/AddRoom">
                <label style="margin:2% 0 0 4%">Создать комнату</label><br />
                <input type="text" name="RoomName" style="width:165pt; margin:2% 0 0 4%" /><br />
                <input type="hidden" id="playerNameSend" name="playername" /><br />
                <input type="submit" value="создать" style="width:70pt; margin:2% 0 2% 56%" />
            </form>
        </div>

    </div>




    <script>
        var login = get_cookie("Login");

        if (login == null) {
            window.location.href = '/Login/Login';
        }
        else {
            document.getElementById('playerNameSend').value = login;
        }
    </script>
    <script src="~/js/site.js"></script>
    <script src="~/js/updateRooms.js"></script>

</body>
</html>
