<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/js/getcookies.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style_modal.css" rel="stylesheet" />
    <link href="~/css/style_2.css" rel="stylesheet" />
</head>
<body>
    <div class="body">
        <div id="create-room-modal" class="modal">
            <div class="modal-view">
                <img class="modal-background-image" src="~/img/paper_modal.png">
                <div class="flex-container flex-column modal-inner">
                    <div>
                        <input class="icon-btn close-btn" type="image" src="~/img/icon_close.png" onclick="closeModal('create-room-modal');">
                    </div>
                    <div class="modal-content">
                        <form method="post" action="~/Rooms/AddRoom">
                            <input id="new-room-name" name="RoomName" type="text" class="input-text" placeholder="название комнаты">
                            <input type="image" src="~/img/room_create.png" class="modal-btn" />
                            <input type="hidden" id="playerNameSend" name="playername" /><br />
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div id="top-menu">
            <img src="~/img/logo.png">
            <div id="btn-panel">
                <form method="post" action="~/Login/Signout">
                    <input type="image" class="icon-btn" src="~/img/out.png">
                </form>
                    <input type="image" class="icon-btn" src="~/img/sound.png">
            </div>
        </div>
        <div id="field" class="flex-container flex-column">
            <div><img class="h1" src="~/img/label_select_rival.png"></div>
            <div class="top-place-player" style="position: relative;">
                <div id="player-name" class="player-name" style="float: left;"><label>имя игрока</label></div>
                <input type="image" src="~/img/challenge.png" style="float: right;" onclick="openModal('create-room-modal');">
            </div>
            <div>
                <label id="online-players" style="padding-right: 2%;">0 игрока онлайн</label>
                <label id="current-battles"> 0 битв идёт</label>
            </div>
            <div id="room-selection-wrapper" class="working-place style-2">
                <table id="roomslist"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // document.getElementById("loginModal").modal('show');


        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            var inputs = document.querySelectorAll("#" + modalId + " input[type='text']");
            inputs.forEach(function (el) {
                el.value = "";
            });
            modal.style.display = "flex";
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
        }


        var login = get_cookie("Login");

        if (login == null) {
            window.location.href = '/Login/Login';
        }
        else {
            document.getElementById('playerNameSend').value = login;
        }
        document.getElementById('player-name').childNodes[0].innerHTML = login;
    </script>

    <script src="~/js/updateRooms.js"></script>



</body>
</html>