table.ships {
    border-collapse: collapse;
    background-color: rgb(225,254,255);
    display: inline-block;
    /*  margin: 10pt;*/
}

    table.ships td {
        height: 30pt;
        width: 30pt;
        border: solid black;
        background-color: rebeccapurple;
    }

table.battlefield {
    border-collapse: collapse;
    background-color: rgb(225,254,255);
}

    table.battlefield td {
        height: 30pt;
        width: 30pt;
        border: solid black;
    }

table.roomslist {
    background-color: rgb(225,254,255);
    border-collapse: collapse;
}

    table.roomslist td {
        height: 35pt;
        min-width: 30pt;
        border: solid black;
    }
