<!DOCTYPE html>

<html>
<head>
    <script src="~/js/getcookies.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="body">
        <input type="hidden" id="error" value='@ViewBag.errormsg' />
        <div class="login_block">

            <div class="flex-container">
                <div id="formContent" class="flex-container">
                    <form method="post" action="~/Login/Signin" class="flex-container">
                        <img src="~/img/logo.png" style="width: 100%">
                        <input type="text" class="input-text" id="login" name="playername" placeholder="имя игрока" maxlength="10" style="width: 8rem;">
                        <input id="login-btn" type="submit" value="играть" class="btn" />
                        <div class="hint">
                            <label>имя не длиннее 10 символов</label>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>


    @{
        if (ViewBag.errormsg != null)
        {
          
            @:<script>
            @:alert(document.getElementById('error').value);
            @:</script>
        }
    }
</body>

</html>


