<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>

    <div class="body">

        <div class="login_block">

            <div class="login-character"></div>

            <div class="login-input flex-container">
                <div id="formContent" class="flex-container">
                    <form method="post" action="~/Login/Signin" class="flex-container">
                        <label>Ваше имя</label>
                        <input type="text" id="login" name="playername" placeholder="имя игрока">
                        <input id="login-btn" type="image" src="~/img/login_btn.png" />
                    </form>
                    <div>
                        <div>@ViewBag.vivod</div>
                        <div>@ViewBag.errormsg</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>


